@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Philosopher&family=Quicksand&display=swap')
$header-font: 'DM Sans', sans-serif
$body-font: 'Quicksand', sans-serif
$title-font: 'Philosopher', sans-serif;
$color: #FFB700

.about-me
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 50px

.group-title
  font-family: $title-font
  color: white
  font-size: 3em
  
.link
  text-decoration: none

.animation-container
  display: flex
  flex-direction: column
  align-items: center
  width: 90%

.animation-container img
  display: block
  width: 75%

.animation-container lottie-player
  display: none

@media only screen and (min-width: 650px)

  .about-me
    display: flex
    flex-direction: row
    align-items: center
    width: 90%
    margin-top: 25vh
    margin-bottom: 25vh

  .animation-container
    margin-left: 7vw
    width: 40%

  .animation-container img
    width: 300px

  .group-title
    text-align: center
    margin-bottom: 50px

  .text-container
    width: 60%
    margin-top: 5vw

  .animation-container img
    display: none

  .animation-container lottie-player
    display: block