@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Philosopher&family=Quicksand&display=swap')
$header-font: 'DM Sans', sans-serif
$body-font: 'Quicksand', sans-serif
$title-font: 'Philosopher', sans-serif;

.text-container
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.about-container
  height: 100%
  margin: 3vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white

h3
  font-size: 2em
  font-family: $header-font
  text-align: center

.paragraph
  font-size: 1em
  font-family: $body-font
  text-align: left
  width: 60%

@media only screen and (min-width: 1024px)

  .about-container
    display: flex
    flex-direction: column
    align-items: center
