$circle-colour: #0077aa

.screen
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.welcome-text
  width: 50%
  height: 50vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $circle-colour
  border-radius: 50%
  color: black
  font-size: 3em
