@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Philosopher&family=Quicksand&display=swap')
$header-font: 'DM Sans', sans-serif
$body-font: 'Quicksand', sans-serif
$title-font: 'Philosopher', sans-serif;


.projects-container
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 10vh
  padding-bottom: 10vh

h1
  margin: 3vw
  color: white
  font-family: $title-font
  font-size: 3em

.proj-list
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.proj-container
  display: flex
  flex-direction: column
  align-items: center
  width: 80%
  background: rgba( 255, 255, 255, 0.8 )
  border-radius: 20px
  padding: 2vw
  margin: 2vw

.proj-item
  display: flex
  flex-direction: column
  align-items: center
  width: 80%
  font-family: $body-font

.proj-item h3
  font-family: $header-font

.img-container
  width: 80%
  margin: 4vw

.proj-img
  width: 100%
  border-radius: 5px
  -webkit-box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3)
  -moz-box-shadow:    2px 2px 3px 3px  rgba(0, 0, 0, 0.3)
  box-shadow:         2px 2px 3px 3px  rgba(0, 0, 0, 0.3)

.btn-container
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center

linker
  text-decoration: none

@media only screen and (min-width: 1024px)

  .proj-container
    display: flex
    flex-direction: row
    width: 70%

  .proj-item
    width: 60%

  .img-container
    width: 40%
    margin: 4vw

  .btn-container
    display: flex
    flex-direction: row
    justify-content: center

  .proj-img
    width: 100%
    border-radius: 5px
    -webkit-box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3)
    -moz-box-shadow:    2px 2px 3px 3px  rgba(0, 0, 0, 0.3)
    box-shadow:         2px 2px 3px 3px  rgba(0, 0, 0, 0.3)

